@(form: play.data.Form[models.Message], messagesHistory : List[controllers.guest_panel.ContactController.MessageWrapper])(implicit messages: play.i18n.Messages)

@import views.html.helper.CSRF;
@import b3.vertical.fieldConstructor;

@main("Contact") {

  @formerrors(form)

  @b3.form(guest_panel.routes.ContactController.post) {
    @CSRF.formField
    @b3.text( form("title"), '_label -> "Title", 'placeholder -> "title" )
    @b3.select( form("messageType"), '_label -> "Message type" ) { implicit values =>
      @b3.selectOption(1, "Breakedown")
      @b3.selectOption(2, "Remark")
      @b3.selectOption(3, "Message")
    }
    @b3.textarea( form("content"), '_label -> "Message", 'placeholder -> "Message" )
    @b3.submit('class -> "btn btn-default"){ Submit }
  }

  @for(mes <- messagesHistory) {
    @if(mes.isMine) {
      <div class="panel panel-info">
    } else {
      <div class="panel panel-primary">
    }
        <div class="panel-heading">
          <div class="panel-title">@mes.message.title</div>
        </div>
        <div class="panel-body">
          @mes.message.content
        </div>
      </div>
  }
}
