@(form: play.data.Form[authorization.models.UserForm])(implicit messages: play.i18n.Messages)

@import views.html.helper.CSRF;
@import b3.vertical.fieldConstructor;

@main("Log in") { } {

  @formerrors(form)

  @b3.form(auth.routes.LoginController.post) {
    @CSRF.formField
    @b3.email( form("email"), '_label -> "E-mail", 'placeholder -> "example@email.com" )
    @b3.password( form("pass"), '_label -> "Password", 'placeholder -> "Password" )
    @b3.checkbox( form("remember"), '_text -> "Remember me", 'value -> true )
    @b3.submit('class -> "btn btn-default"){ Sign in }
  }
}
