@(form: Form[controllers.FormData])(implicit messages: play.i18n.Messages)

@import views.html.helper.CSRF;
@import b3.vertical.fieldConstructor;

@main("Form") {

  @b3.form(routes.HomeController.upload) {
    @CSRF.formField
    @b3.text( form("name"), '_label -> "Name", 'placeholder -> "example@mail.com" )
    @b3.password( form("password"), '_label -> "Password", 'placeholder -> "Password" )
    @b3.checkbox( form("remember"), '_text -> "Remember me", 'value -> true )
    @b3.submit('class -> "btn btn-default"){ Sign in }
  }
}
