@import authorization.Authenticator

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HotelSystems</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#">Notifications <span class="badge">42</span></a>
        </li>
        @dropdown(Authenticator.getUser)
      </ul>
    </div>
  </div>
</nav>
