@(listRooms: List[Room], listPhotos: List[Photo])
@import views.html.helper.CSRF;
@CSRF.formField
<link rel="stylesheet" type="text/css" href="assets/stylesheets/rooms.css"/>

@main("See our rooms") {
    <h3>ROOMS</h3>
    @for( photo <- listPhotos ){
        <div class="gallery">
            <a target="_blank" href=@photo.getFilepath>
                <img src=@photo.getFilepath alt=@photo.getId>
            </a>
            <div class="desc">
                @for( room <- listRooms ){
                    @if( room.getIdPhoto == photo.getId ){
                        Room №@room.getId<br>
                        Price: @room.getPrice<br>
                        Number of beds: @room.getNumberOfBeds<br>
                        Floor: @room.getFloor<br>
                    }
                }
            </div>
        </div>
    }
}