@import play.libs.Json
@import java.lang.String; var messages = ""

@if(session().get("_messages_error") != null) {
    <div class="alert alert-danger" role="alert">
    @{messages=session.remove("_messages_error")}
    @if(Json.parse(messages).size() == 1) {
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        @Json.parse(messages).elements().next().asText()
    } else {
        <b>Errors:</b>
        <br>
        <ul>
        @for(v <- Json.parse(messages).elements()) {
            <li>@v.asText()</li>
        }
        </ul>
    }
    </div>
}

@if(session().get("_messages_warning") != null) {
    <div class="alert alert-warning" role="alert">
    @{messages=session.remove("_messages_warning")}
    @if(Json.parse(messages).size() == 1) {
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        @Json.parse(messages).elements().next().asText()
    } else {
        <b>Warnings:</b>
        <br>
        <ul>
        @for(v <- Json.parse(messages).elements()) {
            <li>@v.asText()</li>
        }
        </ul>
    }
    </div>
}

@if(session().get("_messages_success") != null) {
    <div class="alert alert-success" role="alert">
    @{messages=session.remove("_messages_success")}
    @if(Json.parse(messages).size() == 1) {
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        @Json.parse(messages).elements().next().asText()
    } else {
        <b>Cool!</b>
        <br>
        <ul>
        @for(v <- Json.parse(messages).elements()) {
            <li>@v.asText()</li>
        }
        </ul>
    }
    </div>
}
